ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    height: 100%;
    width: 360px;

}






.gallery {
    display: flex;
    width: 1440px;
    flex-wrap: wrap;
    padding: 100px 156px;
    column-gap: 24px;
    row-gap: 48px;

}